[submodule "rust-tun"]
	path = crates/rust-tun
	url = https://github.com/planetoryd/rust-tun
	branch = master
[submodule "rtnetlink"]
	path = crates/rtnetlink
	url = https://github.com/planetoryd/rtnetlink
	branch = main
[submodule "rustables"]
	path = crates/rustables
	url = https://github.com/planetoryd/rustables
	branch = netnsp
[submodule "netlink-packet-audit"]
	path = crates/netlink-packet-audit
	url = https://github.com/planetoryd/netlink-packet-audit
	branch = main
[submodule "netlink-sys"]
	path = crates/netlink-sys
	url = https://github.com/planetoryd/netlink-sys
	branch = main
[submodule "netlink-proto"]
	path = crates/netlink-proto
	url = https://github.com/planetoryd/netlink-proto
	branch = main
[submodule "tun2socks5"]
	path = crates/tun2socks5
	url = https://github.com/planetoryd/tun2socks5
	branch = master
[submodule "socks5-impl"]
	path = crates/socks5-impl
	url = https://github.com/planetoryd/socks5-impl
[submodule "pidfd"]
	path = crates/pidfd
	url = https://github.com/planetoryd/pidfd
	branch = master
[submodule "ipstack"]
	path = crates/ipstack
	url = https://github.com/planetoryd/ipstack
	branch = main
[submodule "clone3"]
	path = crates/clone3
	url = https://github.com/planetoryd/clone3
[submodule "nsproxy-ui"]
    path = crates/nsproxy-ui
    url = https://github.com/planetoryd/nsproxy_egui
[submodule "netlink-packet-route"]
	path = crates/netlink-packet-route
	url = https://github.com/ple1n/netlink-packet-route
[submodule "netlink-packet-utils"]
	path = crates/netlink-packet-utils
	url = https://github.com/ple1n/netlink-packet-utils
[submodule "netlink-packet-core"]
	path = crates/netlink-packet-core
	url = https://github.com/ple1n/netlink-packet-core
